
<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2>Shopping Cart</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <span class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="shoppingCartItems"
                 [class.isMobile]="isMobile">

        <ng-container matColumnDef="productNumber">
          <mat-header-cell *matHeaderCellDef>Product #</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label" style="min-width:100px; text-align:right;">Product&nbsp;#:&nbsp;&nbsp;</span>
            {{element.productNumber}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label" style="min-width:100px; text-align:right;">Description:&nbsp;&nbsp;</span>
            {{element.description}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="longDescription">
          <mat-header-cell *matHeaderCellDef>Overview</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label" style="min-width:100px; text-align:right;">Overview:&nbsp;&nbsp;</span>
            {{element.longDescription}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="orderQuantity">
          <mat-header-cell *matHeaderCellDef>
            <span>
              Quantity
            </span>
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label" style="min-width:100px; text-align:right;">Quantity:&nbsp;&nbsp;</span>
            {{element.orderQuantity}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="unitPrice">
          <mat-header-cell *matHeaderCellDef>
            <span>
              Unit Price
            </span>
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label" style="min-width:100px; text-align:right;">Unit&nbsp;Price:&nbsp;&nbsp;</span>
            {{ element.unitPrice | currency }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </span>


  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="checkout()">Checkout</button>
    &nbsp;&nbsp;
    <button mat-flat-button color="primary" (click)="emptyCart()">Empty Cart</button>

  </mat-card-actions>
</mat-card>
